.list {
  position: relative;
  min-width: 250px;
  background-color: bisque;
  border-radius: 4px;
  min-height: 500px;
  margin: 10px;
  height: 100%;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.list--dummy {
  height: 0px !important;
  min-height: 0px !important;
}

.list__heading {
  text-align: center;
  word-wrap: break-word;
  padding: 10px;
  border-bottom: 2px solid tomato;
  display: flex;
  justify-content: space-between;
}

.list__tasks {
  padding: 5px;
  flex: 1;
  border-bottom: 2px solid tomato;
}

.list__add_task {
  text-align: center;
  padding: 5px;
}

.list__dnd_mask {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 90;
}

.drop--hovered {
  border: 5px double seagreen;
}
