.formfield {
  margin-bottom: 15px;
}

.formfield__label {
  margin-bottom: 8px;
}

.formfield__input {
  padding-right: 10px;
}
.formfield__input > input,
.formfield__input > textarea {
  width: 100%;
  max-width: 100%;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 12px 5px;
  outline-style: none;
  margin-bottom: 5px;
}

.formfield__error {
  color: red;
  font-size: medium;
  font-weight: 500;
}
