.app {
  font-size: large;
}

.app__heading {
  text-align: center;
  font-size: xx-large;
  padding: 20px 0px;
  border: 2px solid black;
}

.app__subheading {
  text-align: right;
  padding: 10px 20px;
}

.app__subheading > button {
  margin-right: right;
  font-size: large;
}

.list-collection {
  display: flex;
}
